@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Poiret+One&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 16px;
}

:root {
    --primary-font: 'Dosis', sans-serif;
    --secundary-font: 'Poiret One', sans-serif;
    --action-font: ;
}

.hamburguer {
    position: fixed;
    z-index: 1000;
    width: 2rem;
    height: 2rem;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.lines {
    background-color: #007991;
    width: 100%;
    height: 0.2rem;
    box-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s, background-color 0.2s;
}

.hamburguer:hover .lines {
    background-color: #78CCD1;
}

.show-menu .lines:nth-child(1) {
    transform: translate(0, 0.55rem) rotate(45deg);
    box-shadow: none;
}

.show-menu .lines:nth-child(2) {
    transform: rotate(135deg);
    box-shadow: none;
}

.show-menu .lines:nth-child(3) {
    transform: translate(0, -0.55rem) rotate(-45deg);
    box-shadow: none;
}

.hamburguer span {
    position: absolute;
    right: 3rem;
    width: 5rem;
    height: 2rem;
    font-family: var(--primary-font);
    font-weight: 300;
    color: white;
    background-color: #007991;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.hamburguer span::after {
    content: "";
    position: absolute;
    border-left: 0.5rem solid #007991;
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    right: -1rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
    visibility: visible;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 20%;
}

.banner h1 {
    color: white;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 5rem;
    text-shadow: 0.2rem 0.2rem 2px rgba(0, 0, 0, 0.4);
    margin-bottom: .5rem;
    animation: moveBanner 1s 0.1s forwards;
}

.banner p {
    color: white;
    font-family: var(--secundary-font);
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
    margin-bottom: 1.5rem;
    animation: moveBanner 1s 0.3s forwards;
}

.banner button {
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78CCD1, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78CCD1, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: var(--primary-font);
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    outline: none;
    cursor: pointer;
    animation: moveBanner 1s 0.5s forwards;
}

.banner button:hover {
    background: #78CCD1;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
        transform-origin: top left;
        opacity: 0;
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    z-index: 1;
    transition: all 0.5s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.menu-item {
    margin-bottom: 0.5rem;
}

.menu-link {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 2rem;
    color: #007991;
    transition: color 0.2s;
}

.menu-link:hover {
    color: #78CCD1;
}

.social-media {
    position: absolute;
    height: 2.5rem;
    width: 100%;
    bottom: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color: #007991;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s;
}

.social-media i:hover {
    color: #78CCD1;
}

.secao-header {
    position: relative;
}

.secao-header h1 {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: 600;
    color: #007991;
    margin: 2rem;
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 0.5rem;
    align-items: center;
}

.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(3) {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(4) {
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(5) {
    grid-column: 4 / 7;
    grid-row: 5 / 7;
}

.conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5 / 7;
}

.conhecimentos-img-wrapper {
    grid-column: 7 / 11;
    grid-row: 3 / 5;
}

.conhecimento-header {
    display: flex;
    align-items: center;
}

.conhecimento-header i {
    font-size: 2.5rem;
    color: #007991;
}

.conhecimento-header h3 {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 400;
    color: #007991;
    margin-left: 0.5rem;
}

.conhecimento-text p {
    font-family: var(--primary-font);
    font-weight: 500;
    text-align: justify;
    color: #007991;
    margin-top: 0.5rem;
}

.conhecimentos-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secao-projetos {
    position: relative;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
}

.card {
    position: relative;
    width: 20rem;
    height: 30rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.5rem;
}

.card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    opacity: 1;
    transition: opacity 0.5s;
}

.card:hover .card-img-wrapper img {
    opacity: 0.5;
}

.card-info {
    position: absolute;
    bottom: 0rem;
    left: 2rem;
    text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.card-info h2 {
    font-family: var(--primary-font);
    font-weight: 500;
    color: white;
}

.card-info h3 {
    font-family: var(--primary-font);
    font-weight: 400;
    color: white;
    margin-top: 0.2rem;
}

.card-info p {
    font-family: var(--secundary-font);
    color: white;
    margin-top: 0.5rem;
}

.card-info button {
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78CCD1, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78CCD1, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: var(--primary-font);
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 0.8rem 1.6rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
    outline: none;
    cursor: pointer;
}

.card-info button:hover {
    background: #78CCD1;
}

.secao-contato {
    width: 100%;
    height: 100vh;
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #78CCD1, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #78CCD1, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper {
    width: 20%;
    display: flex;
}

.contato {
    width: 100%;
    background-color: white;
    padding: 1rem 3rem 3rem 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.contato h1 {
    font-family: var(--primary-font);
    font-size: 3rem;
    text-align: center;
    color: #007991;
    margin: 1rem;
}

.contato form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-group {
    position: relative;
}

.contato .field {
    width: 20rem;
    height: 4rem;
    background-color: transparent;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #252525;
}

.contato .field-label {
    position: absolute;
    left: 0;
    top: 3rem;
    font-family: var(--secundary-font);
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s;
}

.field:focus ~ label, .field:valid ~ label {
    top: 0;
    font-size: 1.4rem;
    color: #007991;
}

.contato textarea {
    padding-top: 1rem;
    min-width: 20rem;
    max-width: 25rem;
    min-height: 4rem;
    max-height: 10rem;

}

.contato button { 
    font-family: var(--primary-font);
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
    background-color: #007991;   
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 0.8rem 1.6rem;
    margin: 2rem 0 1rem;
    border-radius: 0.3rem;
    outline: none;
    cursor: pointer;
}

.contato button:hover {
    background: #78CCD1;
}
