@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Poiret+One&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 16px;
}

:root {
    --primary-font: 'Dosis', sans-serif;
    --secundary-font: 'Poiret One', sans-serif;
    --action-font: ;
}

.hamburguer {
/*   background-color: blue;*/
    position: fixed;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.lines {
    background-color: #007991;
    width: 100%;
    height: 0.2rem;
    box-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s;
}

.show-menu .lines:nth-child(1) {
    transform: translate(0, 0.55rem) rotate(45deg);
    box-shadow: none;
}

.show-menu .lines:nth-child(2) {
    transform: rotate(135deg);
    box-shadow: none;
}

.show-menu .lines:nth-child(3) {
    transform: translate(0, -0.55rem) rotate(-45deg);
    box-shadow: none;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 20%;
}

.banner h1 {
    color: white;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 5rem;
    text-shadow: 0.2rem 0.2rem 2px rgba(0, 0, 0, 0.4);
    margin-bottom: .5rem;
    animation: moveBanner 1s 0.1s forwards;
}

.banner p {
    color: white;
    font-family: var(--secundary-font);
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
    margin-bottom: 1.5rem;
    animation: moveBanner 1s 0.3s forwards;
}

.banner button {
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78CCD1, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78CCD1, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: var(--primary-font);
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-radius: 5px;
    padding: 1rem 2rem;
    outline:none;
    cursor: pointer;
    animation: moveBanner 1s 0.5s forwards;
}

.banner button:hover {
    background: #78CCD1;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
        transform-origin: top left;
        opacity: 0;
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    z-index: 1;
    transition: all 0.5s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.menu-item {
    margin-bottom: 0.5rem;
}

.menu-link {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 2rem;
    color: #007991;
    transition: color 0.2s;
}

.menu-link:hover {
    color: #78CCD1;
}

.social-media {
    position: absolute;
    height: 2.5rem;
    width: 100%;
    bottom: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color: #007991;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s;
}

.social-media i:hover {
    color: #78CCD1;
}


